<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ApplyBatchDao">
    <select id="getListByRelation" resultMap="ApplyBatch">
        select
        abh.*
        from
        apply_batch abh
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="batch != null and batch != ''">
                and abh.batch like concat(concat('%',#{batch}),'%')
            </if>
            <if test="batchCategory != null and batchCategory != ''">
                and abh.batchCategory = #{batchCategory}
            </if>
            <if test="begindate_start != null and begindate_start != ''">
                <![CDATA[ and abh.begindate >= #{begindate_start} ]]>
            </if>
            <if test="begindate_end != null and begindate_end != ''">
                <![CDATA[ and abh.enddate <= #{begindate_end} ]]>
            </if>
            <choose>
                <when test="applyStatus == null">
                    and abh.applyStatus>=0
                </when>
                <otherwise>
                    and abh.applyStatus = #{applyStatus}
                </otherwise>
            </choose>
            and (
            ( select aber.epersonId from apply_batch_eperson_relation aber where aber.applyBatchId = abh.applybatchid
            and aber.epersonId = #{epersonId} )
            or abh.epersonIds = 'all')
        </trim>
        order by abh.creattime desc
    </select>
</mapper>