<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.CommunityDictDao">
   <select id="query" parameterType="java.util.Map" resultMap="CommunityDict">
      select * from communitydict cd
      <trim prefix="where" prefixOverrides="AND|OR">
        <if test="name != null and name != ''">
          and cd.name like CONCAT('%',#{name},'%')
        </if>
        <if test="commId != null">
          <choose>
             <when test="commId instanceof Integer">
                and cd.commId = #{commId, jdbcType=INTEGER}
             </when>
             <when test="commId instanceof java.util.List and commId.size() > 0">
                and cd.commId in 
                <foreach collection="commId" item="comm" open="(" separator="," close=")">
                   #{comm, jdbcType=INTEGER}
                </foreach>
             </when>
          </choose>
        </if>       
      </trim>
   </select>
</mapper>