<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.Community2EPersonDao">
   <update id="batchUpdate">
     update community2eperson ce, eperson e, community c set ce.community_id = c.community_id,
        ce.eperson_id = e.eperson_id where ce.comm_syscode is not null and ce.eperson_syscode is not null
          and ce.community_id is null and ce.eperson_id is null and ce.comm_syscode = c.sys_code
          and ce.eperson_syscode = e.sys_code
   </update>
</mapper>