<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.Community2ItemDao">
	<select id="query" parameterType="java.util.Map" resultMap="Community2Item">
		select * from community2item
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="itemId != null">
				and item_id = #{itemId}
			</if>
			<if test="communityId != null">
				and community_id = #{communityId}
			</if>
			<if test="resourceType != null">
				and resource_type = #{resourceType}
			</if>
		</trim>
	</select>

	<select id="getCommunityIdList" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT community_id FROM `community2item`
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="itemId != null">
				and item_id = #{itemId}
			</if>
			<if test="resourceType != null">
				and resource_type = #{resourceType}
			</if>
		</trim>
	</select>



	<insert id="create" useGeneratedKeys="true" keyProperty="id"
		parameterType="Community2Item">
		insert into community2item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="communityId != null">
				community_id,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
			<if test="communityName != null and communityName != ''">
				community_name,
			</if>
			<if test="commIndex != null">
				comm_index,
			</if>
			<if test="matchType != null">
				match_type,
			</if>
			<if test="resourceType != null">
				resource_type,
			</if>
			<if test="submitterId != null">
				submitter_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="select" suffixOverrides=",">
			<if test="communityId != null">
				community_id,
			</if>
			<if test="itemId != null">
				item_id,
			</if>
			<if test="communityName != null and communityName != ''">
				community_name,
			</if>
			<if test="commIndex != null">
				comm_index,
			</if>
			<if test="matchType != null">
				match_type,
			</if>
			<if test="resourceType != null">
				resource_type,
			</if>
			<if test="submitterId != null">
				submitter_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		FROM DUAL WHERE NOT EXISTS (select item_id,community_id,resource_type
		from community2item
		WHERE item_id=#{itemId} and community_id=#{communityId} and
		resource_type=#{resourceType})
	</insert>

	<delete id="delete" parameterType="java.util.Map">
		delete from community2item
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="resourceType != null">
				and resource_type = #{resourceType}
			</if>
			<if test="itemId != null">
				<choose>
					<when test="itemId instanceof Integer">
						and item_id = #{itemId}
					</when>
					<when test="itemId instanceof java.util.List and itemId.size() > 0">
						and item_id in
						<foreach collection="itemId" item="im" open="(" close=")"
							separator=",">
							#{im}
						</foreach>
					</when>
				</choose>
			</if>
		</trim>
	</delete>

	<insert id="copyFromTemp" parameterType="java.util.Map">
		insert into community2item(community_id, item_id, community_name,
		comm_index,match_type,resource_type,submitter_id, create_time)
		(select community_id,item_id,community_name,comm_index,
		match_type,resource_type,submitter_id,create_time from
		community2item_temp
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="itemId != null">
				and item_id = #{itemId}
			</if>
			<if test="resourceType != null">
				and resource_type = #{resourceType}
			</if>
		</trim>
		)
	</insert>
</mapper>