<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.DataPushLogDao">
   <select id="findUnique" parameterType = "java.util.Map" resultType="org.pms.dataService.content.DataPushLog">
  	 SELECT * 
  	 FROM `data_push_log`
  	 <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="dbCode != null">
            and DB_CODE = #{dbCode}
         </if>
         <if test="status != null">
            and STATUS = #{status}
         </if>
         <if test="itemId != null">
            and RESOURCE_ID = #{resourceId}
         </if>
      </trim> 
   </select>
</mapper>