<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.EsiRankResearchfieldDao">

   <select id="query" resultMap="EsiRank" parameterType="java.util.Map">
        select * from `researchfield_rank` 
        <where>
           subject_esi=#{esiSubject}
            and version_num = #{versionNum}
        <if test="order != null and order != '' ">
             ORDER BY   ${order}
        </if>
        </where>
   </select>
   
   <select id="getEsiSubjectData" resultMap="EsiRank" parameterType="java.util.Map">
      select * from `researchfield_rank` where subject_esi = #{esiSubject} 
      <if test="irNamesList != null and irNamesList.size() > 0 ">
         and ir_name in 
         <foreach collection="irNamesList" item="name" index="namex" separator="," open="(" close=")" >
            #{name}
         </foreach>
      </if>
      order by version_num asc
   </select>
</mapper>