<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.EsiRankAllDao">
   <select id="query" resultMap="EsiRank" parameterType="java.util.Map">
      select * from `allrank` 
      <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test="versionNum != null and versionNum != ''">
           and version_num = #{versionNum}
        </if>
     </trim>
        <if test="order != null and order != '' ">
             ORDER BY   ${order}
        </if>
   </select>
   
    <select id="queryPageList" resultMap="EsiRank" parameterType="java.util.Map">
      SELECT * FROM allrank WHERE version_num=#{versionNum} AND ir_name !=#{irName}
       <if test="queryName != null and queryName != ''">
           AND ir_name LIKE  #{queryName} 
        </if>
        ORDER BY wos_total_cites DESC
   </select>
   
   <select id="getAllEsiSubjectData" resultMap="EsiRank" parameterType="java.util.Map">
      select * from `allrank` where 
      <if test="irNamesList != null and irNamesList.size() > 0 ">
         ir_name in 
         <foreach collection="irNamesList" item="name" index="namex" separator="," open="(" close=")" >
            #{name}
         </foreach>
      </if>
      order by version_num asc
   </select>
</mapper>
