<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ExpertDao">

	<select id="query" parameterType="java.util.Map" resultMap="EPerson">
		select * from eperson
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			eperson.visible != -2 and isdelete=0
			<if test="userNameList != null">
				and username in
				<foreach collection="userNameList" item="username" open="("
					separator="," close=")">
					#{username}
				</foreach>
			</if>
			<if test="sysCode != null">
				and sys_code = #{sysCode}
			</if>
		</trim>
		ORDER BY weight desc,CONVERT(scholar_name USING gbk) ASC
	</select>

	<select id="queryEPerson" parameterType="java.util.Map"
		resultMap="EPerson">
		<!-- SELECT * FROM eperson where eperson_id in ( select DISTINCT(t.resource_id) 
			as eperson_id from (SELECT DISTINCT(mv.resource_id) FROM metadata_expert 
			mv) t -->
		SELECT e.*,sr.systemrole_id,sr.systemrole_name FROM eperson e LEFT
		JOIN systemrole2eperson sre ON e.eperson_id=sre.eperson_id LEFT JOIN
		systemrole sr ON sre.systemrole_id=sr.systemrole_id WHERE 1=1
		and
		visible >= 0
		<if test="community!=null">
			and e.eperson_id in(select DISTINCT(resource_id) from
			metadata_expert
			where 1=1
			and resource_id in (select
			DISTINCT(resource_id) from metadata_expert
			where
			(metadata_field_id=263 or metadata_field_id=213) and
			text_value=#{community}))
		</if>
		<if test="professional!=null">
			and e.eperson_id in(select DISTINCT(resource_id) from
			metadata_expert
			where 1=1
			and resource_id in (select
			DISTINCT(resource_id) from metadata_expert
			where
			metadata_field_id=196 and text_value=#{professional}))
		</if>
		<if test="academictitle!=null">
			and e.eperson_id in(select DISTINCT(resource_id) from
			metadata_expert
			where 1=1
			and resource_id in (select
			DISTINCT(resource_id) from metadata_expert  
			where
			metadata_field_id=183 and text_value=#{academictitle}))
		</if>

		<trim prefix="AND" prefixOverrides="AND|OR">
			<if test="username!=null">
				and scholarCode=#{username}
			</if>
			<if test="scholarname!=null">
				and scholar_name like '%${scholarname}%'
			</if>
			<if test="role!=null">
				and sr.systemrole_id=#{role}
			</if>
			and isdelete=0
		</trim>
		order by weight desc,CONVERT(e.scholar_name USING gbk)
	</select>


	<select id="queryByScholarName" resultMap="EPerson"
		parameterType="java.util.Map">
		select * from eperson ep
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="scholar_name != null and scholar_name != ''">
				and ep.scholar_name like
				concat(concat('%',#{scholar_name}),'%')
			</if>
			and ep.isdelete=0
		</trim>
	</select>


	<select id="queryByScholarNameAndUserName" resultMap="EPerson"
		parameterType="java.util.Map">
		select * from eperson ep
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="scholar_name != null and scholar_name != ''">
				and ep.scholar_name like
				concat(concat('%',#{scholar_name}),'%')
			</if>

			<if test="username != null">
				and ep.username like
				concat(concat('%',#{username}),'%')
			</if>

			and ep.isdelete=0
		</trim>
	</select>

	<select id="getTopScholarList" resultMap="EPerson">
		select e.* from eperson
		e join top_scholar t on e.eperson_id = t.eperson_id order by
		t.order_id desc
	</select>

</mapper>