<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.HandleDao">
   <select id="query" parameterType="java.util.Map" resultMap="Handle">
      select * from handle
      <trim prefix="where" prefixOverrides="AND|OR">
         <if test="id != null">
            and handle_id = #{id}
         </if>
         <if test="handle != null and handle != ''">
            and handle=#{handle}
         </if>
         <if test="resourceTypeId != null">
            and resource_type_id = #{resourceTypeId}
         </if>
         <if test="resourceId != null">
            and resource_id = #{resourceId}
         </if>
      </trim>
   </select>
</mapper>