<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ItemFullTextDao">
    <select id="query" parameterType="java.util.Map" resultMap="ItemFullText">
      SELECT a.item_id,a.file_id,a.flag,a.status,b.fileName,b.url FROM item_fulltext a,systemfileupload b
      <trim prefix="where" prefixOverrides="AND|OR">
          a.file_id = b.fieldId
         <if test="itemId != null">
            and a.item_id = #{itemId}
         </if>
         <if test="flag != null">
            and a.flag = #{flag}
         </if>
          <if test="status != null">
            and a.status = #{status}
         </if>
      </trim>
   </select>
</mapper>