<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.MetadataValue_EquipmentDao">
   <select id="getMetadataValue" parameterType="java.util.Map" resultMap="MetadataValue">
      SELECT mv.resource_id as resourceId,
      mv.metadata_value_id as id, mv.metadata_field_id as fieldId, ms.short_id as 'schema',
      mf.element as element, mf.qualifier as qualifier, mv.text_lang as 'language',
      mv.place as place, mv.text_value as 'textValue'
      FROM metadata_equipment mv, metadatafieldregistry mf, metadataschemaregistry ms
      <trim prefix="where" prefixOverrides="AND|OR">
         mv.metadata_field_id = mf.metadata_field_id AND mf.metadata_schema_id = ms.metadata_schema_id
         <if test="schema != null and schema != ''">
            and ms.short_id = #{schema}
         </if>
         <if test="element != null and element != ''">
            and mf.element = #{element}
         </if>
         <if test="qualifier != null and qualifier != ''">
            and mf.qualifier = #{qualifier}
         </if>         
         <if test="resourceIds != null">
            <if test="resourceIds.length > 1">
              and mv.resource_id in 
              <foreach collection="resourceIds" item="resourceId" open="(" separator="," close=")">
                #{resourceId}
              </foreach>
            </if>
            <if test="resourceIds.length == 1">
              and mv.resource_id = #{resourceIds[0]}
            </if>
         </if>
      </trim>
   </select>
</mapper>