<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.PmsModuleDao">
   <select id="getRole2Modules" resultMap="PmsModule">
      SELECT role2module.`systemrole_id`, pm.* FROM pms_module pm, systemrole2module role2module
      <where>
          role2module.`pmsmodule_id` = pm.`pms_module_id` and pm.status=1 ORDER BY pm.level,  pm.`order_id`
      </where>
   </select>
   
   <select id="getModulesOfRole" parameterType="java.lang.reflect.Array" resultMap="PmsModule">
      SELECT sm.systemrole_id,m.*  FROM pms_module m, systemrole2module sm
      <trim prefix="WHERE" prefixOverrides="AND|OR">
         m.pms_module_id = sm.pmsmodule_id and m.status=1 and
         <choose>
            <when test="array != null and array.length == 1">
               sm.systemrole_id = #{array[0]}
            </when>
            <when test="array != null and array.length > 1">
               sm.systemrole_id in
               <foreach collection="array" item="roleId" open="(" close=")" separator=",">
                  #{roleId}
               </foreach>
            </when>
         </choose>
      </trim>
      order by m.level asc, m.order_id asc
   </select>
   

   <select id="query" resultMap="PmsModule" parameterType="java.util.Map">
      select * from pms_module sm
      <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="url != null and url != ''">
            and sm.url = #{url}
         </if>
         <if test="menu_parent_code != null and menu_parent_code != ''">
            and sm.menu_parent_code = #{menu_parent_code}
         </if>
         <if test="type != null">
            and sm.type = #{type}
         </if>
         <if test="mcodes != null and mcodes.size() > 0">
           AND sm.`mcode` IN 
           <foreach collection="mcodes" item="mcode" open="(" close=")" separator=",">
             #{mcode}
           </foreach>
         </if>
          <if test="ispermission != null">
            and sm.ispermission = #{ispermission}
         </if>
         
         and sm.status=1
      </trim>
      order by level asc, order_id asc
   </select>
</mapper>