<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ProjectEditDao">
    <select id="getAllEditById" parameterType="java.lang.Integer" resultType="org.pms.dataService.content.ProjectEditInfo">
     SELECT * FROM  (
    SELECT jsonData,inputuserid,inputtime,updatetime FROM `projectedit` WHERE projectId=#{projectId} AND isdelete=1
    UNION ALL
    SELECT jsonData,inputuserid,inputtime,updatetime FROM `projectchange` WHERE projectId=#{projectId} AND auditstatus=002) alltable
    ORDER BY updatetime
   </select>
</mapper>