<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ProjectSourceBaseInfoDao">
	<select id="queryAll" resultMap="ProjectSource">
		SELECT * FROM `project_source` 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="parentCode != null and parentCode != ''">
				and parentCode = #{parentCode}
			</if>
			<if test="noParentCode != null and noParentCode != ''">
				and parentCode != '0'
			</if>
			and status = 1
		</trim>
		UNION ALL 
		SELECT * FROM  `project_source_intramural`
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="parentCode != null and parentCode != ''">
				and parentCode = #{parentCode}
			</if>
			<if test="noParentCode != null and noParentCode != ''">
				and parentCode != '0'
			</if>
			and status = 1
		</trim>
		UNION ALL 
		SELECT * FROM `project_source_row` 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="parentCode != null and parentCode != ''">
				and parentCode = #{parentCode}
			</if>
			<if test="noParentCode != null and noParentCode != ''">
				and parentCode != '0'
			</if>
			and status = 1
		</trim>
	</select>

	<select id="queryProjectSourceAll" resultMap="ProjectSource">
		SELECT * FROM `project_source` 
		
		UNION ALL 
		SELECT * FROM  `project_source_intramural`
		
		UNION ALL 
		SELECT * FROM `project_source_row` 
		
	</select>

</mapper>