<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ProjectFundsDetailDao">
    <select id="query" parameterType="java.util.Map" resultMap="ProjectFundsDetail">
        SELECT pc.project_code AS project_code,pc.project_name AS project_name,pc.communitycode AS
        communitycode,pc.charge AS charge,pc.datestart AS datestart,pc.funds AS funds,pfd.*
        FROM `project_funds_detail` pfd
        LEFT JOIN project_column pc ON pc.project_id=pfd.projectId
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="projectId != null">
                and pfd.projectId = #{projectId}
            </if>
            <if test="projectFunfsName != null and projectFunfsName != ''">
                and pfd.projectFunfsName like concat(concat('%',#{projectFunfsName}),'%')
            </if>
            <if test="projectFunfsCode != null and projectFunfsCode != ''">
                and pfd.projectFunfsCode like concat(concat('%',#{projectFunfsCode}),'%')
            </if>
            <if test="projectFunfsCharge != null and projectFunfsCharge != ''">
                and pfd.projectFunfsCharge like concat(concat('%',#{projectFunfsCharge}),'%')
            </if>
            <if test="s_funds != null">
                and pc.funds <![CDATA[ >= ]]> #{s_funds}
            </if>
            <if test="b_funds != null">
                and pc.funds <![CDATA[ <= ]]> #{b_funds}
            </if>
            <if test="isMatch != null ">
                and pfd.isMatch =#{isMatch}
            </if>
            <if test="projectFundsType != null ">
                and pfd.projectFundsType =#{projectFundsType}
            </if>
            <if test="fundType != null and fundType != ''">
                and pfd.fundType =#{fundType}
            </if>
            <choose>
                <when test="isDelete != null">
                    AND (pfd.`isDelete`=#{isDelete} or pfd.`isDelete`=0)
                </when>
                <otherwise>
                    AND pfd.`isDelete`=0
                </otherwise>
            </choose>
        </trim>
    </select>
</mapper>