<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.AttachmentDao">
   <select id="query" parameterType="java.util.Map" resultType="org.pms.dataService.content.AttachmentInfo">
      select sfd.*, sfd.fileName as name
      from project_attach pat
      left join systemfileupload sfd
      on pat.fieldId = sfd.fieldId
      <trim prefix="WHERE" prefixOverrides="AND|OR">
      	<if test="projectId != null and projectId != ''">
           and projectId = #{projectId}
        </if>
      </trim>
      
   </select>
</mapper>