<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.Project2MemberDao">
   <select id="query" resultMap="Project2Member" parameterType="java.util.Map">
      select * from project2member pmt
      <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="projectid != null">
            and pmt.projectid =#{projectid}
         </if>
         <if test="isFirst != null">
            and pmt.isFirst =#{isFirst}
         </if>
         and pmt.status >= 0
      </trim>
      order by `order`+0 asc
   </select>
</mapper>