<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ProjectFundsDao">
   <select id="query" parameterType="java.util.Map" resultMap="ProjectFunds">
      SELECT 
 pc.project_code AS project_code,pc.project_name AS project_name,pc.communitycode AS communitycode,pc.charge AS charge,pc.datestart AS datestart,pc.funds AS funds,
 pf.account AS account,pf.accountcount AS accountcount,pf.pay AS pay ,pf.paycount AS paycount ,pf.balance AS balance,pf.projectfundid as projectfundid
FROM `projectfunds` pf 
JOIN `project_column` pc ON pc.project_id=pf.projectid 
   </select>
</mapper>