<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.Project_Subject_Budget_DataDao">
	<!-- 根据关系查找 -->
	<select id="queryByRelation" resultMap="Project_Subject_Budget_Data" parameterType="java.util.Map">
		SELECT * FROM `project_subject_budget` psb
		JOIN  `project_subject_relation` psr ON psb.type=psr.version_id
		WHERE psr.project_id=#{projectId} 
		ORDER BY psb.`id`
	</select>
</mapper>