<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ResourcePushConfigDao">
   <select id="queryJoinTemplate" resultMap="FULL_DATA" parameterType="java.util.Map">
      select rpc.* from resource_push_config rpc join resource_template rt on rpc.template_id=rt.template_id
      <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="contentTypeId != null">
            and rt.contenttype_id = #{contentTypeId}
         </if>
         <if test="resourceTypeId != null">
            and rt.resource_type_id = #{resourceTypeId}
         </if>
         <if test="showPage != null">
            <choose>
	            <when test="showPage instanceof Integer">
	               and rt.showpage = #{showPage, jdbcType=INTEGER}
	            </when>
	            <when test="showPage instanceof java.util.List and showPage.size() > 0">
	               and rt.showpage in 
	               <foreach collection="showPage" item="page" open="(" separator="," close=")">
	                  #{page, jdbcType=INTEGER}
	               </foreach>
	            </when>
	         </choose>
         </if>
         <if test="showPage == null">
         	and rt.showpage >= 0
         </if>
         <if test="isPush != null">
         	and rpc.db_is_push =#{isPush}
         </if>
         and rt.isHidden = 0  
      </trim>
   </select>
   
	<select id="queryForApiFieldMapping" resultMap="METADATA_FIELD_TO_API_FIELDNAME_MAPPING" parameterType="java.util.Map">
      select rt.metadata_field_id,rpc.field_language,rpc.api_field_name from resource_push_config rpc join resource_template rt on rpc.template_id=rt.template_id
      where rt.resource_type_id = #{resourceTypeId} and rt.contenttype_id = #{contentTypeId} and rt.showpage >= 0 and rpc.db_is_push =1 and rt.isHidden = 0  
   </select>
</mapper>