<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ReviewBatchProjectRelationDao">
    <select id="getRelationByReviewBatchId" resultType="java.lang.Integer">
        SELECT
        rbpr.reviewBatchProjectId
        FROM
        `review_batch_project_relation` rbpr
        <if test="conclusion != null">
            INNER JOIN review_batch_project rbp ON rbp.id = rbpr.reviewBatchProjectId
            AND rbp.conclusion = #{conclusion}
        </if>
        WHERE
        rbpr.reviewBatchId = #{reviewBatchId}
    </select>

    <select id="getRelationByReviewBatchIdAndEPersonId" resultType="java.lang.Integer">
        SELECT
            rbpr.reviewBatchProjectId
        FROM
            review_batch_project_relation rbpr
            INNER JOIN review_batch_project_eperson_relation rbper ON rbper.reviewBatchId = rbpr.reviewBatchId
            AND rbper.reviewBatchProjectId = rbpr.reviewBatchProjectId
            AND rbper.epersonId = #{userId}
        WHERE
            rbpr.reviewBatchId = #{reviewBatchId}
    </select>

    <select id="getRelationByIdAndProjectId"
            resultType="org.pms.dataService.content.ReviewBatchProjectRelation">
        SELECT
            rbpr.*
        FROM
            review_batch_project_relation rbpr
            INNER JOIN review_batch_project rbp ON rbp.id = rbpr.reviewBatchProjectId
            AND rbp.projectId = #{projectId}
        WHERE
            rbpr.reviewBatchId = #{reviewBatchId}
    </select>
</mapper>