<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.ScreenVisualChartInfoDao">
   <select id="getById" parameterType="java.lang.Integer" resultMap="ScreenVisualChartInfo">
       SELECT svc.id,svc.sort, svc.missing, svc.formatMethod, svc.isGetCount,svc.existApiEnum,svc.infoType, svc.className, svc.sourceFilter, svc.`filters`,IFNULL(svc.`facetNames`, vc.`facet_names`) AS facetNames,IFNULL(svc.`chartName`, vc.`chart_name`) AS chartName,vc.`chart_id` AS chartId,vc.`statsFields`,vc.`facet_names`,vc.`facet_size`,vc.`query_name`,vc.`resource_type`, vc.`thumbnail`,vc.`type`
		FROM `screen_visual_chart` svc
		LEFT JOIN `visual_chart` vc 
		ON svc.`chartId` = vc.`chart_id`
    	where svc.`isHidden` = 0
		AND svc.id=#{id}
   </select>
    <select id="getByIds" parameterType="java.util.List" resultMap="ScreenVisualChartInfo">
      SELECT svc.id,svc.sort, svc.missing, svc.formatMethod, svc.isGetCount,svc.existApiEnum, svc.infoType, svc.className, svc.sourceFilter, svc.`filters`, IFNULL(svc.`facetNames`, vc.`facet_names`) AS facetNames,IFNULL(svc.`chartName`, vc.`chart_name`) AS chartName,vc.`chart_id` AS chartId,vc.`facet_names`,vc.`facet_size`,vc.`query_name`,vc.`resource_type`, vc.`thumbnail`,vc.`type`
		FROM `screen_visual_chart` svc
		LEFT JOIN `visual_chart` vc 
		ON svc.`chartId` = vc.`chart_id`
    	where svc.`isHidden` = 0
		AND svc.id in
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
   </select>
</mapper>