<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.SettingTreeDao">
	<resultMap type="org.pms.dataService.content.SettingTreeInfo"
		id="SettingTreeInfo">
		<result property="id" column="id" />
		<!-- <result property="level_code" column="level_code" /> -->
		<result property="name" column="name" />
		<result property="nameEN" column="nameEN" />
		<result property="nameTW" column="nameTW" />
		<result property="code" column="code" />
		<result property="parentCode" column="parentCode" />
	</resultMap>

	<select id="query" parameterType="java.util.Map" resultMap="SettingTreeInfo">
		select * from ${tableName} where 1=1
		<trim prefix="AND" prefixOverrides="AND|OR">
			<if test="code != null">
				and code = #{code}
			</if>
		</trim>
		and status = 1
		order by orderId
	</select>
	
	<select id="check" parameterType="java.util.Map" resultMap="SettingTreeInfo">
		select * from ${tableName} WHERE 1=1
		<trim prefix="AND" prefixOverrides="AND|OR">
			<if test="code!=null and code!=''">
				and code!='${code}'
			</if>
			<if test="name!=null and name!=''">
				and name='${name}'
			</if>
		</trim>
		and status = 1
		ORDER BY orderId
	</select>
	<update id="update" parameterType="SettingTreeInfo">
		update ${tableName} set
		name=#{name},nameEN=#{nameEN},nameTW=#{nameTW},code=#{code},parentCode=#{parentCode}
		where id=${id}
	</update>


	<insert id="create" useGeneratedKeys="true" keyProperty="id"
		parameterType="SettingTreeInfo">
		insert into ${tableName}
		(parentCode,name,nameEN,nameTW,code)
		values
		(#{parentCode},#{name},#{nameEN},#{nameTW},#{code})
	</insert>

	<delete id="deleteByCode" parameterType="java.util.Map">
		update ${tableName} set status=-1 where code = #{code} or parentCode=#{code}
	</delete>

	<delete id="deleteByParentId" parameterType="java.util.Map">
	
		update ${tableName} set status=-1 where parentCode = #{parent_id}
		
	</delete>


</mapper>