<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.StatisticsReportDao">
	<select id="getByIdByRole" resultMap="StatisticsReport">
		SELECT * FROM (SELECT roleId,reportId FROM statisticsreport2role
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="roleId != null">
				and roleId = #{roleId}
			</if>
		</trim>
		) a LEFT JOIN `statisticsreport` b ON a.reportId=b.id
		where b.id =
		#{id} and isdelete=0
	</select>
	<select id="queryByEpersonId" resultMap="StatisticsReport">
		SELECT * FROM (SELECT epersonId,reportId FROM statisticsreport2eperson
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="epersonId != null">
				and epersonId = #{epersonId}
			</if>
		</trim>
		) a LEFT JOIN `statisticsreport` b ON a.reportId=b.id
		where isdelete=0
		<trim prefix="AND" prefixOverrides="AND|OR">
			<if test="name != null">
				and name like '%${name}%'
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</trim>
		order by orderid
	</select>
	<select id="query" resultMap="StatisticsReport">
		SELECT *,GROUP_CONCAT(b.scholar_name SEPARATOR ',') AS scholarName
		FROM statisticsreport a LEFT JOIN (SELECT reportId,scholar_name FROM
		statisticsreport2eperson srr LEFT JOIN (SELECT eperson_id,scholar_name
		FROM eperson) sr ON srr.epersonId=sr.eperson_id) b ON a.id=b.reportId
		WHERE a.isdelete=0
		<trim prefix="AND" prefixOverrides="AND|OR">
			<if test="name != null">
				and name like '%${name}%'
			</if>
			<if test="type != null">
				and type = #{type}
			</if>
		</trim>
		GROUP BY a.id order by orderid
	</select>
</mapper>
