<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.SystemProcessConfigDao">
   <select id="selectCount" resultType="java.lang.Integer" parameterType="org.pms.dataService.content.SystemProcessConfig">
      select count(1)
      from systemprocessconfig sc
      left join systemprocessformProperty sfp
      on sc.formPropertyId = sfp.id
      where sc.`code` = #{code}
   </select>
   <select id="findUnique" parameterType="org.pms.dataService.content.SystemProcessConfig" resultType="org.pms.dataService.content.SystemProcessConfig">
      select sfp.*,sfp.formProperty
      from systemprocessconfig sc
      left join systemprocessformProperty sfp
      on sc.formPropertyId = sfp.id
      where sc.`code` = #{code}
   </select>
   <select id="query" parameterType="java.util.Map" resultType="org.pms.dataService.content.SystemProcessConfig">
      select spc.id, spc.code,spc.describe,spc.processJson,spc.templateId,spc.formPropertyId,sfp.formProperty,spc.inputTime, spt.xml,spt.processName, spt.name
      from systemprocessconfig  spc
      left join systemprocesstemplate spt
      on spt.id = spc.templateId
      left join systemprocessformProperty sfp
      on spc.formPropertyId = sfp.id
      	<trim prefix="WHERE" prefixOverrides="AND|OR">
       		<if test="code != null and code != ''">
           		 and spc.`code` like CONCAT(#{code},'%')
         	</if>
         	<if test="type != null and type != ''">
           		 and spc.`code` like CONCAT(#{type},'/_%') escape '/'
         	</if>
         	<if test="childType != null">
           		 and spc.`child` = #{childType}
         	</if>
         	<if test="role != null">
           		 and spc.`role`  = #{role}
         	</if>
         	<if test="operatorType != null">
           		 and spc.`opratore`  = #{operatorType}
         	</if>
         	<if test="module != null">
           		 and spc.`module`  = #{module}
         	</if>
         	<if test="describe != null and describe != ''">
           		 and spt.`describe` like CONCAT(#{describe},'%')
         	</if>
         	<if test="list != null">
           		and spc.modleCode in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				    #{item}
				</foreach>
         	</if>
         </trim>
         order by spc.id
   </select>
   <select id="getById" parameterType="java.lang.Integer" resultType="org.pms.dataService.content.SystemProcessConfig">
       select spc.id, spc.code,spc.describe,spc.processJson,spc.templateId,spc.formPropertyId,sfp.formProperty,spc.inputTime, spt.xml, spt.processName, spt.name
      from systemprocessconfig  spc
      left join systemprocesstemplate spt
      on spt.id = spc.templateId
      left join systemprocessformProperty sfp
      on spc.formPropertyId = sfp.id
      where spc.id = #{id}
   </select>
   <update id="update" parameterType="org.pms.dataService.content.SystemProcessConfig">
   	UPDATE `systemprocessconfig`
   	<set>
        <if test="inputTime != null">
          inputTime=#{inputTime},
        </if>
        <if test="formPropertyId != null">
          formPropertyId=#{formPropertyId},
        </if>
        <if test="processJson != null">
          processJson=#{processJson},
        </if>
        <if test="templateId != null">
          templateId=#{templateId},
        </if>
        <if test="describe != null">
          describe=#{describe},
        </if>
        <if test="processName != null">
          processName=#{processName},
        </if>
        <if test="childType != null">
           child = #{childType},
       	</if>
       	<if test="roleId != null">
         	role  = #{roleId},
       	</if>
       	<if test="operatorType != null">
         	opratore = #{operatorType},
       	</if>
       	<if test="module != null">
         	module = #{module},
       	</if>
      </set>
      <trim prefix="WHERE" prefixOverrides="AND|OR">
      	<if test="code != null and code != ''">
          and `code`=#{code}
        </if>
        <if test="id != null">
          and id = #{id}
        </if>
      </trim>
   </update>
</mapper>
