<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.SystemRoleDao">
   <select id="getRolesOfUser" parameterType="java.lang.reflect.Array" resultMap="SystemRole">
      select se.eperson_id, s.systemrole_id, s.systemrole_name from systemrole s, systemrole2eperson se
      <trim prefix="WHERE" prefixOverrides="AND|OR">
         s.systemrole_id = se.systemrole_id and 
         <choose>
            <when test="array != null and array.length == 1">
               se.eperson_id = #{array[0]}
            </when>
            <when test="array != null and array.length > 1">
               se.eperson_id in
               <foreach collection="array" item="epersonId" open="(" close=")" separator=",">
                  #{epersonId}
               </foreach>
            </when>
         </choose>
      </trim>
   </select> 
</mapper>