<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.SystemMessageTypeDao">
   <select id="getByFilter" parameterType="java.lang.String" resultType="org.pms.dataService.content.SystemMessageTemplate">
      select smte.*
      from systemmessagetype smt
      left join systemmessagetemplate smte
      on smt.templateId = smte.id
      where filter = #{filter}
   </select>
    <select id="query" parameterType="java.util.Map" resultType="org.pms.dataService.content.SystemMessageType">
      select smt.*,smte.type,smte.htmlTemplate
      from systemmessagetype smt
      left join systemmessagetemplate smte
      on smt.templateId = smte.id
     <trim prefix="WHERE" prefixOverrides="AND|OR">
         <if test="filter != null">
            and smt.filter = #{filter}
         </if>
     </trim>
   </select>
</mapper>