<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pms.dataService.dao.VisualChartBoardDao">
    <select id="getById" parameterType="java.lang.Integer" resultMap="VisualChartBoardCharts">
      SELECT a.board_id,a.chart_name,a.chart_name_zh,a.chart_name_en,a.chart_name_tw,a.is_filter,a.board_type,b.width_percent,
       c.chart_id AS c_chart_id,c.chart_name AS c_chart_name,c.chart_name_zh AS c_chart_name_zh,c.chart_name_en AS c_chart_name_en,c.chart_name_tw AS c_chart_name_tw,
       c.facet_names AS c_facet_names,c.facet_size AS c_facet_size,c.chart_type AS c_chart_type,c.resource_type AS c_resource_type,c.query_name AS c_query_name,c.description AS c_description
      FROM `visual_chart_board` a, `visual_chart_template` b,`visual_chart` c
      <trim prefix="where" prefixOverrides="AND|OR">
          a.board_id = b.board_id AND b.chart_id = c.chart_id
          and a.board_id = #{id}
      </trim>
      ORDER BY b.order_id ASC 
   </select>
</mapper>